<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>user.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/userLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>user.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/userReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>user.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/userUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLands</servlet-name>
    <servlet-class>lands.insertLandServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLands</servlet-name>
    <url-pattern>/addLnds</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
      F:\\SE\\Eclipse\\OnlinePropertyManagementSystem\\src\\main\\webapp\\landImages\\
   </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>updateLandsServlet</display-name>
    <servlet-name>updateLandsServlet</servlet-name>
    <servlet-class>lands.updateLandsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateLandsServlet</servlet-name>
    <url-pattern>/updateLnds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteLandsServlet</display-name>
    <servlet-name>deleteLandsServlet</servlet-name>
    <servlet-class>lands.deleteLandsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteLandsServlet</servlet-name>
    <url-pattern>/deleteLnds</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateHousesServlet</display-name>
    <servlet-name>updateHousesServlet</servlet-name>
    <servlet-class>houses.updateHousesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateHousesServlet</servlet-name>
    <url-pattern>/updateHouses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertHouseServlet</display-name>
    <servlet-name>insertHouseServlet</servlet-name>
    <servlet-class>houses.insertHouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertHouseServlet</servlet-name>
    <url-pattern>/insertHouse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteHousesServlet</display-name>
    <servlet-name>deleteHousesServlet</servlet-name>
    <servlet-class>houses.deleteHousesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteHousesServlet</servlet-name>
    <url-pattern>/deleteHouses</url-pattern>
  </servlet-mapping>
</web-app>